---
layout: page
slide_id: 3
lang: es
---


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-justify conference-text">


        <div class="text-info">Instrucciones de envío</div>

        <p>Formato de artículos:
            Se aceptarán presentaciones en inglés o portugués.
            El proceso de revisión será DOUBLE-BLIND, por
            lo que los nombres de los autores deben omitirse en el trabajo.
            Se aceptarán trabajos en las siguientes categorías:
            Trabajos de investigación (artículos completos) de 10 a 12 páginas;
            Trabajos de posición/Investigación en curso (artículos breves) 6 a 8 páginas.</p>

        <p> Los artículos deben formatearse utilizando la <strong class="text-danger">Plantilla da SBC</strong>,
            disponible en:
            <a
                href="https://www.sbc.org.br/documentos-da-sbc/category/169-templates-para-artigos-e-capitulos-de-livros">
                <i class="fa fa-external-link fa-fw" aria-hidden="true"></i> Plantilla SBC
            </a> (LaTeX <a
                href="https://www.overleaf.com/latex/templates/sbc-conferences-template/blbxwjwzdngr">overleaf</a>).
        </p>


        <p>Los envios deben hacerse electrónicamente a través del sistema JEMS, en el enlace:</p>

        <p class="text-center">
            <a href="https://jems.sbc.org.br/wbci2022">
                <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
                <strong> III WBCI no JEMS </strong>
            </a>
        </p>

        <div class="text-info">Premios</div>
        <p>Se elegirá una obra como Mejor Trabajo y también una Mención de Honor.</p>

        <div class="text-info">Publicación de obras</div>
        <p>Mas informaciones: <b>Registro</b></p>

        <!--
        <div class="text-info">Camera-Ready Instructions:</div>
        <p>You will receive the information via your email for camera-ready instructions.
        -->
        <!-- 
                    The Author's Final Paper Formatting and Submission Instructions can be found at:</p>

                <p style="padding-top: 6px;padding-bottom: 6px;">
                <a class="button"
                    href="http://www.ieeeconfpublishing.org/cpir/authorKit.asp?Facility=CPS_Nov&ERoom=HotWeb+2015"><span>Camera-ready
                    Author Kit</span></a></p>

                <p>If you encounter any problem, please contact our editor, Lisa
                    O'Conner, for assistance.</p> 
                    
                    <p>Please note your final camera-ready is due to IEEE by
                    <b>September 25, 2015.</b> 
                -->

        </p>



        {% include contact-us.html %}


    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <!--######### important dates ##########-->
        {% include card-important-dates_es.html %}
        <!--####################################-->
    </div>
</div>