---
layout: page
slide_id: 3
---


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-justify conference-text">


        <div class="text-info">Instruções de Submissão:</div>

        <p>Formato dos artigos: Serão aceitas submissões em português ou inglês.
             Serão aceitos trabalhos nas seguintes categorias, de acordo com Template SBC: Trilha de Pesquisa (Artigos completos) 10 a 12 páginas; 
             Position Papers/Pesquisas em Andamento (Artigos curtos) 6 a 8 páginas.</p>
        <p>Instruções de submissão: https://jems.sbc.org.br/wbci2022</p>
        <p>Processo de revisão: o artigo será revisado por 2 a 3 revisores anônimos.</p>
            Datas importantes (se for o caso)
            Deadline: 15/03
            Resultados: 06/05
            Camera-ready: 20/05
            Inscrição dos autores: 20/05

        <p> Artigos devem utilizar o <strong class="text-danger">template da SBC</strong>, disponível em:
            <a href="https://www.sbc.org.br/documentos-da-sbc/category/169-templates-para-artigos-e-capitulos-de-livros">
                <i class="fa fa-external-link fa-fw" aria-hidden="true"></i> Template da SBC
            </a> (ou então o modelo LaTeX via <a href="https://www.overleaf.com/latex/templates/sbc-conferences-template/blbxwjwzdngr">overleaf</a>).
        </p>
            

        <p>Para submeter o artigo, acesse o site do JEMS:</p>

        <p class="text-center">
            <a href="https://jems.sbc.org.br/wbci2022">
            <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
            <strong> III WBCI no JEMS </strong>
            </a>
        </p>

        <p>Prêmios</p>
        <p>Será escolhido um trabalho para Best Paper e também menção honrosa.</p>


        <p>Veja mais instruções de publicação na aba de inscrições.</p>

        <!--
        <div class="text-info">Camera-Ready Instructions:</div>
        <p>You will receive the information via your email for camera-ready instructions.
        -->
            <!-- 
                    The Author's Final Paper Formatting and Submission Instructions can be found at:</p>

                <p style="padding-top: 6px;padding-bottom: 6px;">
                <a class="button"
                    href="http://www.ieeeconfpublishing.org/cpir/authorKit.asp?Facility=CPS_Nov&ERoom=HotWeb+2015"><span>Camera-ready
                    Author Kit</span></a></p>

                <p>If you encounter any problem, please contact our editor, Lisa
                    O'Conner, for assistance.</p> 
                    
                    <p>Please note your final camera-ready is due to IEEE by
                    <b>September 25, 2015.</b> 
                -->

        </p>



            {% include contact-us.html %}


    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <!--######### important dates ##########-->
        {% include card-important-dates.html %}
        <!--####################################-->
    </div>
</div>